<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style/bulma.css">
  <script defer src="js/vue.js"></script>
  <script defer src="js/index.js"></script>
  <title>SToRe</title>
</head>

<body>
  <div id="app" class="container p-3">
    <h1 class="is-size-1 has-text-centered m-3">STorE</h1>

    <div class="select is-link mb-2">
      <select @change="selectProduct($event)">
        <option v-for="(product, i) in products" :key="i">
          {{product.name}}
        </option>
      </select>
    </div>

    <div>
      <div class="is-flex">
        <input 
          class="input is-primary mr-3"
          type="number"
          placeholder="kg"
          v-model="sumProduct"
        > <label class="is-size-4" for="">Estoque:&nbsp;&nbsp;</label> 
        <input 
          disabled
          class="input is-primary"
          type="number"
          placeholder="estoque"
          :value="productSelected?.amount ?? 0"
        >
      </div>
      <button 
        class="button mt-2 is-primary"
        @click="addProduct"
      >
        Inserir
      </button>
    </div>

    <div class="mt-4">
      <div class="is-flex">
        <input 
          class="input is-danger mr-3"
          type="number"
          placeholder="entrada"
          v-model="reductionProduct"
        >
      </div>
      <button
        class="button mt-2 is-danger"
        @click="reduceProduct"
      >
        Retirar
      </button>
    </div>

    <button
      class="button mt-6 is-info"
      @click="isOptions = !isOptions"
    >
      Mais Opções
    </button>

    <template v-if="isOptions">
      <div class="has-text-centered mt-4">

        <h1 class="is-size-3">Adicionar Produto</h1>
  
        <div class="is-flex">
          <input 
            class="input is-primary mr-3"
            type="text"
            placeholder="Nome do produto"
            v-model="nameNewProduct"
          >
        </div>
        <button
          class="button mt-2 is-primary"
          @click="addNewProduct"
        >
          Adicionar
        </button>
      </div>
  
      <div class="has-text-centered mt-4">
  
        <h1 class="is-size-3">Remover Produto</h1>
  
        <button
          class="button mt-2 is-danger"
          @click="removeProduct"
        >
          Remover {{ productSelected?.name }}
        </button>
      </div>
    </template>

  </div>
</body>
</html>